extends ../templates/layout

block content
    .ventas
        .clientes-dropdown
            form(action="/compras/clientes", method="POST")
                label(for="cliente-select") Seleccionar Cliente:
                select#cliente-select(name="cliente")
                    each cli in clientes
                        if cliente && cliente.ID_Cliente === cli.ID_Cliente
                            option(value=cli.ID_Cliente selected)= `${cli.ID_Cliente} - ${cli.Nombre}`
                        else
                            option(value=cli.ID_Cliente)= `${cli.ID_Cliente} - ${cli.Nombre}`

                button(type="submit") Buscar
        each compra in compras
            .venta-cc
                .venta-info
                    i.material-icons shopping_bag
                    p=compra.ID_Compra
                    p=compra.Fecha_Compra
                    p=compra.Precio_Compra
                    .cliente-btn
                        a(href=`/compras/del/${compra.ID_Compra}`)
                            button.del
                                i.material-icons delete
                        a(href=`/compras/edit/${compra.ID_Compra}`)
                            button.edit
                                i.material-icons edit
                .venta-vehiculo-info
                    i.material-icons directions_car
                    p=compra.Vehiculo.ID_Vehiculo
                    p=compra.Vehiculo.Marca
                    p=compra.Vehiculo.Modelo
                    p=compra.Vehiculo.Anio
                    p=compra.Vehiculo.Combustible

    script.
        document.querySelector('form').addEventListener('submit', function (e) {
            const clienteID = document.getElementById('cliente-select').value;
            if (clienteID) {
                this.action = `/compras/clientes/${clienteID}`;
            }
        });
                