extends ../templates/layout

block content
    a(href="/compras/add") Añadir carro
    h3 Compras de cliente: #{cliente.ID_Cliente}, #{cliente.Nombre}
    .ventas
        each compra in compras
            .venta 
                .venta-info
                    i.material-icons shopping_bag
                    p=compra.ID_Compra
                    p=compra.Fecha_Compra
                    p=compra.Precio_Compra
                    .cliente-btn
                        a(href=`/compras/del/${compra.ID_Compra}`)
                            button.del
                                i.material-icons delete
                        a(href=`/compras/edit/${compra.ID_Compra}`)
                            button.edit
                                i.material-icons edit
                .venta-vehiculo-info
                    i.material-icons directions_car
                    p=compra.Vehiculo.ID_Vehiculo
                    p=compra.Vehiculo.Marca
                    p=compra.Vehiculo.Modelo
                    p=compra.Vehiculo.Anio
                    p=compra.Vehiculo.Combustible
                