extends ../templates/layout

block content
    a(href="/compras/add") Añadir carro
    .compras
        each compra in compras
            .compra 
                .compra-info
                    p="ID: " + compra.ID_Compra
                    p="Fecha: " + compra.Fecha_Compra
                    p="Precio: " + compra.Precio_Compra
                    p="Cliente: " + compra.ID_Cliente
                    p="Vehiculo: " + compra.ID_Vehiculo
                .compra-btn
                    a(href=`/compras/del/${compra.ID_Compra}`)
                        button
                            i.material-icons delete
                    a(href=`/compras/edit/${compra.ID_Compra}`)
                        button 
                            i.material-icons edit