extends ../templates/layout

block content
    form(method="post") 
        .mb-3
            label(for="ID_Vehiculo") Vehículo:
            select.form-control(name="ID_Vehiculo")
                each vehiculo in vehiculos
                    option(value=vehiculo.ID_Vehiculo selected=(vehiculo.ID_Vehiculo == venta.ID_Vehiculo))= `${vehiculo.Marca} ${vehiculo.Modelo}`
        .mb-3
            label(for="ID_Cliente") Cliente:
            select.form-control(name="ID_Cliente")
                each cliente in clientes
                    option(value=cliente.ID_Cliente selected=(cliente.ID_Cliente == venta.ID_Cliente))= cliente.Nombre
        .mb-3
            label(for="Fecha_Venta") Fecha:
            input.form-control(type="date", name="Fecha_Venta", value=venta.Fecha_Venta)
        .mb-3
            label(for="Total") Total:
            input.form-control(type="number", name="Total", value=venta.Total, step="0.01")
        input(type="hidden", name="id", value=venta.ID_Venta)
        button.btn.btn-primary(type="submit") Guardar Cambios
