extends ../templates/layout

block content
    form(method="post") 
        .campo
            label(for="ID_Vehiculo") Vehículo:
            select.form-control(name="ID_Vehiculo")
                each vehiculo in vehiculos
                    option(value=vehiculo.ID_Vehiculo selected=(vehiculo.ID_Vehiculo == venta.ID_Vehiculo))= `${vehiculo.ID_Vehiculo} - ${vehiculo.Marca} ${vehiculo.Modelo}` 
        .campo
            label(for="ID_Cliente") Cliente:
            select.form-control(name="ID_Cliente")
                each cliente in clientes
                    option(value=cliente.ID_Cliente selected=(cliente.ID_Cliente == venta.ID_Cliente))= cliente.Nombre       
        .campo
            label(for="Fecha_Venta") Fecha:
            input.form-control(type="date", name="Fecha_Venta", value=(new Date(venta.Fecha_Venta).toISOString().split('T')[0]))
        .campo
            label(for="Total") Total:
            input.form-control(type="number", name="Total", value=venta.Total, step="0.01")
        
        button.btn.btn-primary(type="submit") Guardar Cambios