extends ../templates/layout

block content
    .ventas
        .clientes-dropdown
            form(action="/ventas/vehiculos", method="POST")
                label(for="vehiculo-select") Seleccionar Vehiculo:
                select#vehiculo-select(name="vehiculo")
                    each vehi in vehiculos
                        if vehi.ID_Vehiculo === vehiculo.ID_Vehiculo
                            option(value=vehi.ID_Vehiculo selected)= `${vehi.Marca} ${vehi.Modelo}`
                        else
                            option(value=vehi.ID_Vehiculo)= `${vehi.Marca} ${vehi.Modelo}`
                button(type="submit") Buscar
        each venta in ventas
            .venta-cc
                .venta-info
                    i.material-icons shopping_bag
                    p=venta.ID_Venta
                    p=venta.Fecha_Venta
                    p=venta.Total

                    .cliente-btn
                        a(href=`/ventas/del/${venta.ID_Venta}`)
                            button.del
                                i.material-icons delete
                        a(href=`/ventas/edit/${venta.ID_Venta}`)
                            button.edit
                                i.material-icons edit
                .venta-cliente-info
                    i.material-icons person
                    p=venta.Cliente.ID_Cliente
                    p=venta.Cliente.Nombre
                    p=venta.Cliente.Telefono
                    p=venta.Cliente.Direccion
                
    script.
        document.querySelector('form').addEventListener('submit', function (e) {
            const vehiculoID = document.getElementById('vehiculo-select').value;
            if (vehiculoID) {
                this.action = `/ventas/vehiculos/${vehiculoID}`;
            }
        });
                