extends ../templates/layout

block content 

    form(method="post") 
        .campo
            label(for="Marca") Marca:
            input(type="text", name="Marca" value=vehiculo.Marca, disabled)
        .campo
            label(for="Modelo") Modelo:
            input(type="text", name="Modelo" value=vehiculo.Modelo, disabled)
        .campo
            label(for="Anio") Año:
            input(type="text", name="anio" value=vehiculo.Anio, disabled)
        .campo
            label(for="Precio") Precio:
            input(type="text", name="Combustible" value=vehiculo.Combustible, disabled)
        .campo
            label(for="Combustible") Combustible:
            input(type="text", name="Precio" value=vehiculo.Precio, disabled)
        input(type="hidden", name="id", value=vehiculo.ID_Vehiculo)
        button.del(type="submit") Borrar
