extends ../templates/layout

block content 

    form(method="post") 
        .mb-3
            label.form-label(for="Marca") Marca:
            input.form-control(type="text", name="Marca" value=vehiculo.Marca, disabled)
        .mb-3
            label.form-label(for="Modelo") Modelo:
            input.form-control(type="text", name="Modelo" value=vehiculo.Modelo, disabled)
        .mb-3
            label.form-label(for="Anio") Año:
            input.form-control(type="text", name="anio" value=vehiculo.Anio, disabled)
        .mb-3
            label.form-label(for="Combustible") Combustible:
            input.form-control(type="text", name="Precio" value=vehiculo.Precio, disabled)
        .mb-3
            label.form-label(for="Precio") Precio:
            input.form-control(type="text", name="Combustible" value=vehiculo.Combustible, disabled)
        input(type="hidden", name="id", value=vehiculo.id)
        button.btn.btn-danger(type="submit") Borrar
