extends ../templates/layout

block content
    a(href="/vehiculos/add") Añadir carro
    .vehiculos
        each vehiculo in vehiculos
            .vehiculo 
                img(src="/images/vehiculos/vehiculo-" + vehiculo.ID_Vehiculo + ".png")
                .vehiculo-info
                    p="Marca: " + vehiculo.Marca
                    p="Modelo: " + vehiculo.Modelo
                    p="Año: " + vehiculo.Anio
                    p="Precio: " + vehiculo.Precio + " €"
                    p="Combustible: " + vehiculo.Combustible
                .vehiculo-btn
                    a(href=`/vehiculos/del/${vehiculo.ID_Vehiculo}`)
                        button.del
                            i.material-icons delete
                    a(href=`/vehiculos/edit/${vehiculo.ID_Vehiculo}`)
                        button.edit
                            i.material-icons edit