extends ../templates/layout

block content

    .vehiculos
        each vehiculo in vehiculos
            .vehiculo 
                img(src="/images/vehiculos/vehiculo-" + vehiculo.ID_Vehiculo + ".png")
                .vehiculo-info
                    p="Marca: " + vehiculo.Marca
                    p="Modelo: " + vehiculo.Modelo
                    p="Año: " + vehiculo.Anio
                    p="Precio: " + vehiculo.Precio + " €"
                    p="Combustible: " + vehiculo.Combustible
                .vehiculo-btn
                    button
                        i.material-icons delete
                    button 
                        i.material-icons edit