extends ../templates/layout

block content
    a(href="/clientes/add") Añadir carro
    .clientes
        each cliente in clientes
            .cliente 
                .venta-cliente-info
                    i.material-icons person
                    p=cliente.ID_Cliente
                    p=cliente.Nombre
                    p=cliente.Telefono
                    p=cliente.Direccion 
                .cliente-btn
                    a(href=`/clientes/del/${cliente.ID_Cliente}`)
                        button.del
                            i.material-icons delete
                    a(href=`/clientes/edit/${cliente.ID_Cliente}`)
                        button.edit
                            i.material-icons edit