extends ../templates/layout

block content
    .clientes  
        a.annadir-clientes(href="/vehiculos/add")
            i.material-icons person add
        each cliente in clientes
            .cliente 
                .venta-cliente-info
                    i.material-icons person
                    p=cliente.ID_Cliente
                    p=cliente.Nombre
                    p=cliente.Telefono
                    p=cliente.Direccion 
                .cliente-btn
                    a(href=`/clientes/del/${cliente.ID_Cliente}`)
                        button.del
                            i.material-icons delete
                    a(href=`/clientes/edit/${cliente.ID_Cliente}`)
                        button.edit
                            i.material-icons edit
                    a(href=`/compras/clientes/${cliente.ID_Cliente}`)
                            i.material-icons shopping_bag